# requirements.txt

# Scipy version requirement
scipy>1.13

# Numpy version requirement
numpy>2.2

# TensorFlow version requirement
matplotlib>3.9

# TensorFlow version requirement
tensorflow==2.15

# Keras (bundled with TensorFlow, but included for clarity)
keras==2.8.0